html, body, #root, .App {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.food-display {
  border: 1px solid black;
  width: 700px;
  margin: 0 auto;
}

.food-display img {
  width: 200px;
  margin: 10px;
}

.form {
  border: 1px solid black;
  margin: 20px;
  width: 700px;
  padding: 20px;
  margin: 20px auto;
}

.dropdowns-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.instructions-form button{
  margin-left: 10px;
}

.instructions-form input{
  width: 300px
}

.past-order-display {
  border: 1px solid black;
  width: 250px;
  margin: 25px auto;
}

.past-order-display img {
  width: 50px;
  margin: 10px;
}

.past-orders-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}